header.page-header
  .container
    .row
      //logo
      .col-md-3
        .logo.page-header__logo
          a.logo__link(src="/")
            img.logo__img(src="assets/img/acrostia_logo.png", alt="acrostia")
            span.logo__text Acrostia
      //main-menu
      .col-md-9