header.page-header
  .container
    .row
      //logo
      .col-xs-6.col-sm-2
        .logo.page-header__logo
          a.logo__link(href="/")
            img.logo__img(src="assets/img/acrostia_logo.png", alt="acrostia")
            span.logo__text Acrostia
      //main-menu
      .col-xs-6.col-sm-10
        .main-menu
          button.main-menu__toggle.hamburger
            span.hamburger__item
          nav.main-menu__nav
            ul.main-menu__list
              li.main-menu__item.main-menu__item_blue(data-menuanchor="home")
                a.main-menu__link(href="#home")
                  | Home
              li.main-menu__item.main-menu__item_red(data-menuanchor="services")
                a.main-menu__link(href="#services")
                  | Services
              li.main-menu__item.main-menu__item_purple(data-menuanchor="about")
                a.main-menu__link(href="#about")
                  | About
              li.main-menu__item.main-menu__item_green(data-menuanchor="work")
                a.main-menu__link(href="#work")
                  | Work
              li.main-menu__item.main-menu__item_blue(data-menuanchor="contacts")
                a.main-menu__link(href="#contacts")
                  | Contacts