/*==========================================================================
  btn
==========================================================================*/

$yellow: #f5c149;
$red: #df5c64;

$btn-bg-color: $yellow;
$btn-text-color: $text-color-light;

.btn {
  display: inline-block;
  padding: em(6) em(9);
  border: 0 none;
  border-radius: rem(4);
  @include lato(bold);
  font-size: 1em;
  color: $btn-text-color;
  text-align: center;
  background-color: transparent;
  outline: none;
  transition: .25s;
}

.btn_lg {
  width: rem(259);
  padding: em(4);
  @include lato(black);
  font-size: em(26);
  text-transform: uppercase;

  &.btn_3d {
    padding-bottom: em(5);
  }
}

.btn_3d {
  box-shadow: inset 0 rem(-4) 0 rgba(0, 0, 0, .2);
}

.btn_red {
  background-color: $red;

  &:hover {
    background-color: lighten($red, 5%);
  }

  &:active {
    background-color: darken($red, 5%);
  }
}