/*==========================================================================
  btn
==========================================================================*/

$yellow: #f5c149;

$btn-bg-color: $yellow;
$btn-text-color: $text-color-light;

.btn {
  padding: em(6) em(9);
  border: 0 none;
  border-radius: rem(4);
  @include lato(bold);
  font-size: 1em;
  color: $btn-text-color;
  text-align: center;
  background-color: transparent;
  outline: none;
  transition: .25s;
}