/*==========================================================================
  controls-bar
==========================================================================*/

$controls-bar-border-width: rem(1);
$controls-bar-border-color: rgba(255, 255, 255, .2);

$filter-btn-bg-color: transparent;
$filter-btn-active-bg-color: #f5c149;
$filter-btn-text-color: $text-color-light;

.controls-bar {
  padding: em(31) em(19);
  border-top: $controls-bar-border-width solid $controls-bar-border-color;
  border-bottom: $controls-bar-border-width solid $controls-bar-border-color;
}

.controls-bar__title {
  margin: 0;
  @include lato(bold);
  font-size: em(20);
  line-height: 1.6;
  text-transform: uppercase;

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

/*==========================================================================
  portfolio__filter
==========================================================================*/

.controls-bar__filter {
  text-align: right;

  @media only screen and (max-width: 768px) {
    text-align: center;
  }
}

.controls-bar__filter_open {
  .controls-bar__filter-toggle {
    &::after {
      transform: translateY(-30%) rotate(135deg);
    }
  }
}

.controls-bar__filter-toggle {
  position: relative;
  display: none;
  padding: 0 em(18) 0;
  @extend .controls-bar__title;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $text-color-light;
    text-decoration: none;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: em(1);
    transform: translateY(-80%) rotate(-45deg);
    display: block;
    width: em(8);
    height: em(8);
    border-left: em(2) solid currentColor;
    border-bottom: em(2) solid currentColor;
    transition: transform .3s;
  }

  @media only screen and (max-width: 992px) {
    @include inline-block;
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.controls-bar__filter-list {
  @include list-unstyled();

  @media only screen and (max-width: 992px) {
    display: none;
    padding-top: em(31);
    border-bottom: $controls-bar-border-width solid $controls-bar-border-color;
  }
}

.controls-bar__filter-item {
  @include inline-block();
  margin-left: em(30);

  @media only screen and (max-width: 992px) {
    display: block;
    margin-left: 0;
    border-top: $controls-bar-border-width solid $controls-bar-border-color;
  }
}

.controls-bar__filter-btn {
  background-color: $filter-btn-bg-color;

  &:hover,
  &.mixitup-control-active {
    background-color: $filter-btn-active-bg-color;
  }

  @media only screen and (max-width: 992px) {
    width: 100%;
    border-radius: 0;
    padding-top: em(10);
    padding-bottom: em(10);
    text-align: right;
  }

  @media only screen and (max-width: 768px) {
    text-align: center;
  }
}