/*==========================================================================
  feedback
==========================================================================*/

.feedback__group {
  margin-bottom: rem(18);
}

.feedback__textarea {
  height: rem(158);
}

.feedback__controls {
  padding-top: em(6);
  text-align: center;
}