/*==========================================================================
  magnific-popup
==========================================================================*/

$mfp-bg-color: #402f44;
$controls-color: #fff;
$controls-color-dark: #3f3f3f;

.mfp-wrap {
  z-index: $z-index-max + 3;
  opacity: 0;
}

.mfp-wrap_visible {
  opacity: 1;
}

.mfp-bg {
  z-index: $z-index-max + 2;
  opacity: 0;
  background: url(../img/modal-bg.jpg) center no-repeat $mfp-bg-color;
  background-size: cover;
}

.mfp-bg_visible {
  opacity: 1;
}

.mfp-arrow-left,
.mfp-arrow-right {
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    display: block;
    width: em(29);
    height: em(29);
    margin: 0;
    border: 5px solid $controls-color;
    border-bottom: 0 none;
    opacity: 1;
    transition: .25s;

    @media only screen and (max-width: 768px) {
      width: em(23);
      height: em(23);
      border-width: 4px;
    }
  }

  &::before {
    width: em(29);
    height: em(29);
    border: 7px solid $controls-color-dark;
    border-bottom: 0 none;

    @media only screen and (max-width: 768px) {
      width: em(25);
      height: em(25);
      border-width: 6px;
    }
  }
}

.mfp-arrow-left {
  &::before,
  &::after {
    left: em(20);
    border-right: 0 none;
    transform: translateY(-50%) rotate(-45deg);
  }
}

.mfp-arrow-right {
  &::before,
  &::after {
    left: em(47);
    border-left: 0 none;
    transform: translateY(-50%) rotate(45deg);
  }

  &::before {
    left: em(45);
  }
}