/*==========================================================================
  magnific-popup
==========================================================================*/

$mfp-bg-color: #402f44;
$controls-color: #fff;
$controls-color-dark: #3f3f3f;

.mfp-wrap {
  z-index: $z-index-max + 3;
  opacity: 0;
}

.mfp-wrap_visible {
  opacity: 1;
}

.mfp-bg {
  z-index: $z-index-max + 2;
  opacity: 0;
  background: url(../img/modal-bg.jpg) center no-repeat $mfp-bg-color;
  background-size: cover;
}

.mfp-bg_visible {
  opacity: 1;
}