/*==========================================================================
  main-carousel
==========================================================================*/

$semitransparent-color: rgba(255, 255, 255, .85);
$content-color: rgba(116, 199, 213, 1);

.main-carousel {
  height: 100vh;

  .owl-stage-outer,
  .owl-stage,
  .owl-item,
  .main-carousel__item {
    height: 100%;
  }

  .owl-item img{
    width: auto;
    min-width: 100%;
    min-height: 100%;
  }

  .owl-prev,
  .owl-next {
    position: absolute;
    top: 50%;
    border: 0 none;
    outline-style: none;
    background: none;
    transform: translateY(-50%);

    &::before {
      content: '';
      display: block;
      width: 23px;
      height: 23px;
      border: 5px solid $semitransparent-color;
      border-bottom: 0 none;
      transition: .25s;
    }

    &:hover::before {
      border-color: $content-color;
    }
  }

  .owl-prev {
    left: 0;
    padding: em(50) em(20) em(50) em(50);

    &::before {
      border-right: 0 none;
      transform: rotate(-45deg);
    }
   }

  .owl-next {
    right: 0;
    padding: em(50) em(50) em(50) em(20);

    &::before {
      border-left: 0 none;
      transform: rotate(45deg);
    }
  }

  .owl-dots {
    position: absolute;
    left: 50%;
    bottom: em(91);
    transform: translateX(-50%);
  }

  .owl-dot {
    display: inline-block;
    width: em(20);
    height: em(20);
    border-radius: 50%;
    background-color: $semitransparent-color;
    transition: .25s;

    &:hover,
    &.active {
      background-color: $content-color;
    }
  }

  .owl-dot + .owl-dot {
    margin-left: em(40);
  }
}

/*==========================================================================
  main-carousel__caption
==========================================================================*/

.main-carousel__caption {
  @include transform-center();
  z-index: 1;
  width: 100%;
  color: $content-color;
  text-align: center;
  text-transform: uppercase;

  @media only screen and (max-width: 1200px) {
    font-size: em(9);
  }

  @media only screen and (max-width: 768px) {
    font-size: em(5);
  }

  @media only screen and (max-width: 480px) {
    font-size: em(3);
  }
}

.main-carousel__caption-text-wrapper {
  display: inline-block;
  max-width: 80%;
  padding: em(18) em(43);
  overflow: hidden;
  text-align: left;
  border-radius: 4px;
  background-color: $semitransparent-color;

  @media only screen and (max-width: 768px) {
    max-width: 70%;
  }

  @media only screen and (max-width: 480px) {
    max-width: 55%;
  }
}

.main-carousel__caption-col {
  display: inline-block;

  @media only screen and (max-width: 480px) {
    display: block;
  }
}

.main-carousel__caption-col_left {
  padding-right: em(11);
  text-align: right;
}

.main-carousel__caption-col_right {
  text-align: left;
}

.main-carousel__caption-col_left,
.main-carousel__caption-col_right {
  @media only screen and (max-width: 480px) {
    text-align: center;
  }
}

.main-carousel__item-text {
  @include lato(light);
  padding: 0;
  margin: em(2.7) 0;
  line-height: 1;
}

.main-carousel__item-text_sm {
  font-size: em(50);

  @media only screen and (max-width: 480px) {
    font-size: em(80);
  }
}

.main-carousel__item-text_md {
  font-size: em(60);

  @media only screen and (max-width: 480px) {
    font-size: em(90);
  }
}

.main-carousel__item-text_lg {
  @include lato(black);
  margin: 0;
  line-height: 1;
  font-size: em(138.48);
}
