/*==========================================================================
  main-menu
==========================================================================*/

$mobile-menu-bg-color: #402f44;

.main-menu {
  text-align: right;
}

.main-menu__toggle {
  display: none;

  @media only screen and (max-width: 992px) {
    position: relative;
    top: rem(15);
    z-index: 9999;
    @include inline-block();
  }
}

.main-menu__nav {
  @media only screen and (max-width: 992px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
    -webkit-overflow-scrolling: touch;
    font-size: 0;
    background: url(../img/modal-bg.jpg) center no-repeat $mobile-menu-bg-color;
    transition: opacity .3s 0s;
  }
}

.main-menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-menu__item {
  overflow: hidden;
  @include inline-block();
  border-radius: 0 0 5px 5px;
  font-size: rem(18);
  transition: background-color .25s;
}

.main-menu__item:hover,
.main-menu__item_blue.active {
  background-color: rgba(116, 199, 213, 1);
}

.main-menu__item_red:hover,
.main-menu__item_red.active {
  background-color: rgba(223, 92, 100, 1);
}

.main-menu__item_purple:hover,
.main-menu__item_purple.active {
  background-color: rgba(145, 119, 142, 1);
}

.main-menu__item_green:hover,
.main-menu__item_green.active {
  background-color: rgba(161, 202, 108, 1);
}
.main-menu__link {
  padding: rem(20);
  text-transform: uppercase;
}

.main-menu__link {
  display: block;
  padding: rem(36) rem(27) rem(11);
  color: $text-color-light;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $text-color-light;
    text-decoration: none;
    outline: 0 none;
  }
}

/*==========================================================================
  main-menu_open
==========================================================================*/

.main-menu_open {

  .main-menu__nav {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    text-align: center;

    &::before {
      content: '';
      @include inline-block(middle);
      height: 100%;
    }
  }

  .main-menu__list {
    @include inline-block(middle);
    width: 100%;
    animation: fadeInUp .35s;
  }

  .main-menu__item {
    display: block;
    border-radius: 0;
    font-size: rem(16);
  }

  .main-menu__item:hover,
  .main-menu__item_blue.active {
    background-color: rgba(116, 199, 213, .5);
  }

  .main-menu__item_red:hover,
  .main-menu__item_red.active {
    background-color: rgba(223, 92, 100, .5);
  }

  .main-menu__item_purple:hover,
  .main-menu__item_purple.active {
    background-color: rgba(145, 119, 142, .5);
  }

  .main-menu__item_green:hover,
  .main-menu__item_green.active {
    background-color: rgba(161, 202, 108, .5);
  }
  .main-menu__link {
    padding: rem(20);
    text-transform: uppercase;
  }
}