/*==========================================================================
  map
==========================================================================*/

.map {
  width: rem(260);
  height: rem(220);
  border-radius: rem(4);
  overflow: hidden;
}