/*==========================================================================
  page-section
==========================================================================*/

.page-section__content {
  padding: em(180) 0 em(110);
}

.page-section__header {
  text-align: center;
  margin-bottom: em(95);

  a {
  &:link,
  &:visited,
  &:active {
    color: rgba($text-color-light, .5);
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.page-section__title {
  margin: 0 0 em(9);
  font-size: em(60);
  line-height: 1;
  @include lato(light);
  text-transform: uppercase;
}

.page-section__subtitle {
  margin: 0 0 rem(10);
  font-size: em(20);
  text-transform: uppercase;
  }
}

.page-section__description {
  font-size: em(14);
  line-height: 1.8;
  color: rgba($text-color-light, .65);

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.page-section_darkblue {
  background: url(../img/darkblue-bg.png) no-repeat #2c3e50;
  background-size: cover;
}

.page-section_red {
  background: url(../img/red-bg.png) no-repeat #b24a50;
  background-size: cover;
}

.page-section_purple {
  background: url(../img/purple-bg.png) no-repeat #665464;
  background-size: cover;
}

.page-section_green {
  background: url(../img/green-bg.png) no-repeat #81a256;
  background-size: cover;
}

.page-section_blue {
  background: url(../img/blue-bg.png) no-repeat #75b4aa;
  background-size: cover;
}

.page-section_no-padding {
  padding: 0;
}