/*==========================================================================
  portfolio
==========================================================================*/

$work-bg-color: #fff;

$work-caption-bg-color: $work-bg-color;
$work-caption-text-color: $text-color-base;

$work-overlay-color: rgba(61, 76, 41, .7);
$work-overlay-text-color: #fff;

.portfolio__controls-bar {
  margin-bottom: em(30);
}

.portfolio__works-item-figure {
  position: relative;
  margin-top: em(20);
  border-radius: rem(4);
  overflow: hidden;
  background-color: $work-bg-color;

  &:hover {
    .portfolio__works-item-link {
       &::before {
        content: '+';
        position: absolute;
        z-index: 3;
        top: 76px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 50px;
        height: 50px;
        border: 2px solid $work-overlay-text-color;
        border-radius: 50%;
        overflow: hidden;
        @include lato(light);
        font-size: 48px;
        line-height: 1;
        text-align: center;
        animation: 'fadeIn' .25s;
      }

      &::after {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: $work-overlay-color;
        animation: 'fadeIn' .25s;
      }
    }
  }
}

.portfolio__works-item-link {
  position: relative;
  display: block;
  height: em(200);
  overflow: hidden;
  transition: .25;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $work-overlay-text-color;
    text-decoration: none;
  }
}

.portfolio__works-item-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.portfolio__works-item-caption {
  position: relative;
  z-index: 3;
  padding: em(18);
  font-size: em(14);
  color: $work-caption-text-color;
  text-align: center;
  text-transform: uppercase;
  background-color: $work-caption-bg-color;

  &::before {
    content: '';
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%, -90%);
    display: block;
    border-right: em(19) solid transparent;
    border-left: em(19) solid transparent;
    border-bottom: em(19) solid $work-caption-bg-color;
  }
}