/*==========================================================================
  socials
==========================================================================*/

$purple: #a0849d;
$blue: #82c8bd;

$icon-color: #fff;


.socials {
  @include list-unstyled();
}

.socials_lg {
  font-size: em(32);

  @media only screen and (max-width: 768px) {
    font-size: em(20);
  }
}

.socials_blue {
  .socials__item-link {
    background-color: $blue;
  }
}

.socials__item {
  position: relative;
  @include inline-block();
  width: em(30);
  height: em(30);
  margin: em(8);
  border-radius: 50%;
  overflow: hidden;
}

.socials__item-link {
  display: block;
  height: 100%;
  background-color: $purple;
  transition: .25s;

  &:hover,
  &:focus {
    outline: 0 none;
    
    &.socials__item-link_facebook {
      background-color: $fb-color;
    }

    &.socials__item-link_twitter {
      background-color: $tw-color;
    }

    &.socials__item-link_google-plus {
      background-color: $gp-color;
    }

    &.socials__item-link_linkedin {
      background-color: $in-color;
    }
  }
}

.socials__item-icon {
  @include absolute-center();
  fill: $icon-color;
  width: 50%;
  height: 50%;
}

.socials__item-text {
  @include absolute-hidden();
}