extend ../_template-en

block title
  | Acrostia

block content
  main#fullpage
    include ../sections/home-section
    include ../sections/services-section
    include ../sections/about-section
    include ../sections/work-section


block script
  script(src="assets/js/app.js")