section.home-section.page-section.page-section_darkblue.page-section_no-padding.page-section_no-padding(data-anchor="home")
  .main-carousel.owl-carousel
    -
      var carouselItems = [
        {
          img: '1.jpg',
          textMd: 'good ideas',
          textSm: 'comes',
          textLg: 'First!'
        },{
          img: '2.jpg',
          textMd: 'good ideas',
          textSm: 'comes',
          textLg: 'First!'
        },{
          img: '3.jpg',
          textMd: 'good ideas',
          textSm: 'comes',
          textLg: 'First!'
        },
      ];

    each item in carouselItems
      .main-carousel__item
        .main-carousel__caption
          .main-carousel__caption-text-wrapper
            .main-carousel__caption-col.main-carousel__caption-col_left
              p.main-carousel__item-text.main-carousel__item-text_md= item.textMd
              p.main-carousel__item-text.main-carousel__item-text_sm= item.textSm
            .main-carousel__caption-col.main-carousel__caption-col_right
              p.main-carousel__item-text.main-carousel__item-text_lg= item.textLg
        img.main-carousel__img(src=`assets/img/main-carousel/${item.img}`, alt="")