section.home-section.page-section.page-section_darkblue.page-section_no-padding.page-section_no-padding
  .main-carousel.owl-carousel
    .main-carousel__item
      .main-carousel__caption
        .main-carousel__caption-text-wrapper
          .main-carousel__caption-col.main-carousel__caption-col_left
            p.main-carousel__item-text.main-carousel__item-text_md
              | good ideas
            p.main-carousel__item-text.main-carousel__item-text_sm
              | comes
          .main-carousel__caption-col.main-carousel__caption-col_right
            p.main-carousel__item-text.main-carousel__item-text_lg
              | First!

      img.main-carousel__img(src="assets/img/main-carousel/1.jpg", alt="")
    .main-carousel__item
      .main-carousel__caption
        .main-carousel__caption-text-wrapper
          .main-carousel__caption-col.main-carousel__caption-col_left
            p.main-carousel__item-text.main-carousel__item-text_md
              | good ideas
            p.main-carousel__item-text.main-carousel__item-text_sm
              | comes
          .main-carousel__caption-col.main-carousel__caption-col_right
            p.main-carousel__item-text.main-carousel__item-text_lg
              | First!
      img.main-carousel__img(src="assets/img/main-carousel/2.jpg", alt="")
    .main-carousel__item
      .main-carousel__caption
        .main-carousel__caption-text-wrapper
          .main-carousel__caption-col.main-carousel__caption-col_left
            p.main-carousel__item-text.main-carousel__item-text_md
              | good ideas
            p.main-carousel__item-text.main-carousel__item-text_sm
              | comes
          .main-carousel__caption-col.main-carousel__caption-col_right
            p.main-carousel__item-text.main-carousel__item-text_lg
              | First!
      img.main-carousel__img(src="assets/img/main-carousel/3.jpg", alt="")