section.services-section.page-section.page-section_red(data-anchor="services")
  .page-section__content
    header.page-section__header.page-section__header_margin-bottom_2x
      .container
        h2.page-section__title
          | our services
        p.page-section__subtitle
          | Cras commodo mattis justo nec <a href="#">lobortis</a>. Nam ut tellus lobortis, ullamcorper massa sit amet
        .page-section__description
          p Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.
    //services
    .services
      .container
        .row
          -
            var services = [
              {
                icon: 'lightbulb-o',
                title: 'Researching',
                description: 'Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.'
              },{
                icon: 'magic',
                title: 'Design',
                description: 'Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.'
              },{
                icon: 'cogs',
                title: 'Development',
                description: 'Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.'
              },{
                icon: 'rocket',
                title: 'Launch',
                description: 'Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.'
              }
            ];

          each service in services
            .col-sm-6.col-lg-3
              .services__item
                .services__item-img-wrapper
                  svg.services__item-svg
                    use(xlink:href=`assets/img/sprite.svg#${service.icon}`)
                .services__item-text-wrapper
                  .services__item-title= service.title
                  .services__item-description
                    p= service.description
    ///services