section.work-section.page-section.page-section_green(data-anchor="work")
  .page-section__content
    header.page-section__header
      .container
        h2.page-section__title
          | Our work
        .page-section__description
          p Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.
    //portfolio
    .portfolio
      .container
        .portfolio__controls-bar
            .row
              //portfolio__controls-title
              .col-md-2
                .portfolio__controls-bar-title portfolio
              //portfolio__filter
              .col-md-10
                .portfolio__filter
                  .portfolio__filter-toggle filter
                  ul.portfolio__filter-list
                    -
                      var categories = [
                        {
                          title: 'All',
                          filter: 'all'
                        },{
                          title: 'Photography',
                          filter: '.photography'
                        },{
                          title: 'Logo design',
                          filter: '.logo-design'
                        },{
                          title: 'Web design',
                          filter: '.web-design'
                        }
                      ];

                    each category in categories
                      li.portfolio__filter-item
                        button.portfolio__filter-btn.btn(type="button", data-filter= category.filter)
                          span.portfolio__filter-btn-text= category.title
              ///portfolio__filter
      //portfolio__works
      .portfolio__works
        .container
          .row
            -
              var works = [
                {
                  category: '',
                  thumbImg: 'assets/img/portfolio/Aenean_a_elit.jpg',
                  lgImg: 'assets/img/portfolio/Aenean_a_elit.jpg',
                  caption: 'Aenean a elit'
                },{
                  category: '',
                  thumbImg: 'assets/img/portfolio/Aliquam.jpg',
                  lgImg: 'assets/img/portfolio/Aliquam.jpg',
                  caption: 'Aliquam'
                },{
                  category: '',
                  thumbImg: 'assets/img/portfolio/Suspendisse_libero.jpg',
                  lgImg: 'assets/img/portfolio/Suspendisse_libero.jpg',
                  caption: 'Suspendisse libero'
                },{
                  category: '',
                  thumbImg: 'assets/img/portfolio/Maecenas_fringilla.jpg',
                  lgImg: 'assets/img/portfolio/Maecenas_fringilla.jpg',
                  caption: 'Maecenas fringilla'
                },{
                  category: '',
                  thumbImg: 'assets/img/portfolio/Donec_vehicula.jpg',
                  lgImg: 'assets/img/portfolio/Donec_vehicula.jpg',
                  caption: 'Donec vehicula'
                },{
                  category: '',
                  thumbImg: 'assets/img/portfolio/Ut_et_sapien.png',
                  lgImg: 'assets/img/portfolio/Ut_et_sapien.png',
                  caption: 'Ut et sapien'
                },{
                  category: '',
                  thumbImg: 'assets/img/portfolio/quis_malesuada.jpg',
                  lgImg: 'assets/img/portfolio/quis_malesuada.jpg',
                  caption: 'Quis malesuada'
                },{
                  category: '',
                  thumbImg: 'assets/img/portfolio/Vestibulum_ante.jpg',
                  lgImg: 'assets/img/portfolio/Vestibulum_ante.jpg',
                  caption: 'Vestibulum ante'
                }
              ];

            each work in works
              .col-sm-6.col-md-3
                figure.portfolio__works-item(class= work.category)
                  a.portfolio__works-item-link(href= work.lgImg)
                    img.portfolio__works-item-img(src= work.thumbImg, alt= work.caption)
                  figcaption.portfolio__works-item-caption= work.caption
      ///portfolio__works