section.work-section.page-section.page-section_green(data-anchor="work")
  .page-section__content
    header.page-section__header
      .container
        h2.page-section__title
          | Our work
        .page-section__description
          p Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.
    //portfolio
    .portfolio
      .container
        //portfolio__controls-bar
        .portfolio__controls-bar.controls-bar
            .row
              //portfolio__controls-title
              .col-sm-6.col-md-2
                .controls-bar__title Portfolio
              //portfolio__filter
              .col-sm-6.col-md-10
                .controls-bar__filter
                  button(type="button").controls-bar__filter-toggle.btn
                    | Categories
                  ul.controls-bar__filter-list
                    -
                      var categories = [
                        {
                          title: 'All',
                          filter: 'all'
                        },{
                          title: 'Photography',
                          filter: '.photography'
                        },{
                          title: 'Logo design',
                          filter: '.logo-design'
                        },{
                          title: 'Web design',
                          filter: '.web-design'
                        }
                      ];

                    each category in categories
                      li.controls-bar__filter-item
                        button.controls-bar__filter-btn.btn(type="button", data-filter= category.filter)
                          span.controls-bar__filter-btn-text= category.title
              ///portfolio__filter

      //portfolio__works
      .portfolio__works
        .container
          .row
            -
              var works = [
                {
                  category: 'web-design',
                  thumbImg: 'assets/img/portfolio/thumbs/1.jpg',
                  lgImg: 'assets/img/portfolio/lg/1.jpg',
                  caption: 'Web design'
                },{
                  category: 'photography',
                  thumbImg: 'assets/img/portfolio/thumbs/2.jpg',
                  lgImg: 'assets/img/portfolio/lg/2.jpg',
                  caption: 'Photography'
                },{
                  category: 'web-design',
                  thumbImg: 'assets/img/portfolio/thumbs/3.jpg',
                  lgImg: 'assets/img/portfolio/lg/3.jpg',
                  caption: 'Web design'
                },{
                  category: 'logo-design',
                  thumbImg: 'assets/img/portfolio/thumbs/4.jpg',
                  lgImg: 'assets/img/portfolio/lg/4.jpg',
                  caption: 'Logo design'
                },{
                  category: 'web-design',
                  thumbImg: 'assets/img/portfolio/thumbs/5.jpg',
                  lgImg: 'assets/img/portfolio/lg/5.jpg',
                  caption: 'Web design'
                },{
                  category: 'photography',
                  thumbImg: 'assets/img/portfolio/thumbs/6.jpg',
                  lgImg: 'assets/img/portfolio/lg/6.jpg',
                  caption: 'Photography'
                },{
                  category: 'logo-design',
                  thumbImg: 'assets/img/portfolio/thumbs/7.jpg',
                  lgImg: 'assets/img/portfolio/lg/7.jpg',
                  caption: 'Logo design'
                },{
                  category: 'web-design',
                  thumbImg: 'assets/img/portfolio/thumbs/8.jpg',
                  lgImg: 'assets/img/portfolio/lg/8.jpg',
                  caption: 'Web design'
                }
              ];

            each work in works
              .col-sm-6.col-md-3.portfolio__works-item(class= work.category)
                figure.portfolio__works-item-figure
                  a.portfolio__works-item-link(href= work.lgImg)
                    img.portfolio__works-item-img(src= work.thumbImg, alt= work.caption)
                  figcaption.portfolio__works-item-caption= work.caption
      ///portfolio__works